<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href = "stylesheets/index.css">
  <title>All Shows</title>
</head>
<body>
  <h1>Show List</h1>
  <table>
    <thead>
      <tr>
        <th>Title</th>
        <th>Genre</th>
        <th>Cast</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% shows.forEach(function(s){ %>
      <tr>
          <td><a href="/shows/show/<%= s.id %>">

            <%= s.title %>
          </a>
          </td>
          <td><%= s.genre%></td>
          <td><%= s.cast.join(', ')%></td>
        </tr>
      <% }) %>
    </tbody>
  </table>
  <a href="/shows/new">
    Add Show
  </a>
</body>
</html>