<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href = "stylesheets/index.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma-rtl.min.css">
  <title>All Shows</title>
</head>
<body>

  <h1 class="title is-1 has-text-centered">Show List</h1>
  
  <a class="has-text-right" href="/shows/new">
    Add Show
  </a>
  <hr>

  <% shows.forEach(function(s){ %>
    <div class="card ">
      <a href="/shows/show/<%= s.id %>">

        <div class="card-content has-text-centered">
          <div class="media">
            <div class="media-left">
              <figure class="image is-96x96">
                <img src="<%= s.image %>" alt="Placeholder image">
              </figure>
            </div>
            <div class="media-content">
              <div class ="show-title">
                <p class ="title is-10 show-title has-text-danger p-3"><%= s.title %></p>
              </div>
            </div>
          </div>
      
          <div class="content has-text-right">
            <%= s.description %> 
            <br>
          </div>
        </div>
      </a>
    </div>

<hr>

  <% }) %>
</body>
</html>