<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href = "stylesheets/index.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma-rtl.min.css">
  <title>Add a New Show</title>
</head>
<body>
  <h2>Enter a New Show</h2>
<form action="/shows" method="POST">
  
  <div class="field">
  <div class="control">
    <input type="text" name="title" placeholder="Title">
    </div>
    </div>
  <div class="field">
  <div class="control">
    <input type="text" name="description" placeholder="Description">
  </div>
  </div>

  <div class="field">
    <div class="control">
    <input type="text" name="image" placeholder="Image Link">
  </div>
  </div>
  <div class="field">
  <div class="control">
    <input type="text" name="startingYear" placeholder="Starting Year">
  </div>
  </div>
  
  <div class="field">
    <div class="control">
    <input type="text" name="endingYear" placeholder="Ending Year">
    </div>
    </div>
  <div class = "field">
    <label>MPAA Rating
    </label>
    <div class="control">
    <select name="mpaaRating">
      <option value="G">G</option>
      <option value="PG">PG</option>
      <option value="PG-13">PG-13</option>
      <option value="R">R</option>
    </select>
    </div>
  </div>
  <label>Cast (separate actors with commas):
  </label>
    <input type="text" name="cast">
  <br>
  <label>Genre:</label>
  <br>    
  <input type="checkbox" name="genre" id="genre_comedy" value="Comedy"><label for="genre_comedy"> &nbsp Comedy &nbsp </label>
    <input type="checkbox" name="genre" id="genre_action" value="Action"><label for="genre_action"> &nbsp Action &nbsp </label>
    <input type="checkbox" name="genre" id="genre_adventure" value="Adventure"><label for="genre_adventure">&nbsp Adventure &nbsp </label>
    <input type="checkbox" name="genre" id="genre_mystery" value="Mystery"><label for="genre_mystery">&nbsp Mystery &nbsp </label>
    <input type="checkbox" name="genre" id="genre_fantasy" value="Fantasy"><label for="genre_fantasy">&nbsp Fantasy &nbsp </label>
    <input type="checkbox" name="genre" id="genre_horror"  value="Horror"><label for="genre_horror">&nbsp Horror &nbsp </label><br>
  <label>Ongoing?
    <input type="checkbox" name="ongoing">
  </label><br>
  <input type="submit" value="Add Show">
</form>

<a href="/shows">
  <button type="button">All Shows</button></a>
</body>
</html>